$header-color: #fff;
$main-text-color: #3b3b3b;
$hover-color: #ff6633;


body {
    margin: 0;
    font-family: 'PT Serif', serif;
	font-size: 16px;
}

.container {
	width: 100vw;
	font-family: 'PT Sans', sans-serif;	
	background-image: url(images/banner.jpg);
}

.header {
	width: 100%;
	padding: 15px 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-weight: 700;
	
	background-size: cover;
	height: 80vh;

	&__left-wrapper {
        display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
        width: 70%;
        margin-right: 30px;
        vertical-align: middle;
        
	}

	&__logo-box img {
		width: 200px;
	}

	&__nav {
		font-family: 'Roboto', sans-serif;
        margin-top: 25px;
	}

	&__list {
		list-style: none;
		padding: 2px;
		margin: 0;
        display: flex;
        justify-content: space-between;
	}

	&__item {
		padding: 0;
		&:not(:last-child) {
			margin-right: 25px;

		}
		a {
			text-decoration: none;
			color: #fff;
			&:hover {
				color: $hover-color;
			}



		}

	}

	&__log-in {
		padding: 5px;
		font-size: 16px;
        margin-right: 40px;
        width: 100px;
        max-height: 50px;
	}
}
.header__logo {
    width: 200px;
    margin-right: 50px;    
}

.hide {
	width: 550px;
	height: 550px;
	background-color: #eee;
}